<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.boot.domain.member.model.mapper.MemberMapper">
    <select id="findBySocialId" resultType="com.hospital.boot.domain.member.model.vo.Member">
        SELECT * FROM MEMBER WHERE SOCIAL_ID = #{socialId}
    </select>

    <insert id="insertMember">
        INSERT INTO MEMBER (
        MEMBER_ID, LOGIN_TYPE, SOCIAL_ID, PASSWORD, USER_NAME, EMAIL,
        PHONE, BORN_DATE, GENDER, ADDRESS, CREATED_AT,ADMIN_YN) VALUES (
        #{memberId}, #{loginType}, #{socialId, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
        #{userName}, #{email}, #{phone}, #{bornDate},
        #{gender}, #{address}, DEFAULT, DEFAULT)
    </insert>

    <select id="checkIdExists" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{id}
    </select>

    <select id="findId" resultType="String">
        SELECT
            CASE
                WHEN LOGIN_TYPE IN ('kakao', 'naver', 'google') THEN 'SOCIAL_LOGIN'
                ELSE MEMBER_ID
            END AS MEMBER_ID
        FROM MEMBER
        WHERE USER_NAME = #{name} AND EMAIL = #{email}
    </select>

    <select id="findByIdAndPassword" resultType="com.hospital.boot.domain.member.model.vo.Member">
        SELECT * FROM MEMBER
        WHERE MEMBER_ID = #{memberId} AND PASSWORD = #{password} AND LOGIN_TYPE = 'normal'
    </select>

    <select id="findByIdOnly" resultType="com.hospital.boot.domain.member.model.vo.Member">
        SELECT * FROM MEMBER
        WHERE MEMBER_ID = #{memberId} AND LOGIN_TYPE = 'normal'
    </select>

    <select id="findByIdAny" resultType="com.hospital.boot.domain.member.model.vo.Member">
        SELECT * FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="findByIdAndEmail" resultType="com.hospital.boot.domain.member.model.vo.Member">
        SELECT * FROM MEMBER
        WHERE MEMBER_ID = #{memberId} AND EMAIL = #{email} AND LOGIN_TYPE = 'normal'
    </select>

    <update id="updatePassword">
        UPDATE MEMBER
        SET PASSWORD = #{password}
        WHERE MEMBER_ID = #{memberId} AND LOGIN_TYPE = 'normal'
    </update>
    
    <update id="updateProfile" parameterType="com.hospital.boot.domain.member.model.vo.Member">
    UPDATE MEMBER
    SET 
        USER_NAME = #{userName},
        EMAIL = #{email},
        PHONE = #{phone},
        BORN_DATE = #{bornDate},
        GENDER = #{gender},
        ADDRESS = #{address}
    WHERE MEMBER_ID = #{memberId}
	</update>
	<delete id="deleteMember">
        DELETE FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </delete>
</mapper>